.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: azure;
  color: black;
  gap: 5em;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background: red;
}

.btn {
  font-size: 12px;

}